/*FUENTE*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Federo&family=Quicksand:wght@300&display=swap");

*{
    font-family: "Quicksand", sans-serif;
}

/*COLORES ESTANDAR*/
.colorAmarillo{
    background-color: #F8C24B !important;

}   

.colorAmarillo:hover{
    background-color: #ebb644 !important;
}


.header {
    background-color: rgba(114, 183, 161, 255);
    text-align: center;
  }

a img {
    width: 30%;
}

.navbar{
    background-color: rgba(123, 206, 209, 255);
    overflow: hidden;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 3em 
    
}


.navbar a {
    color: white;
    font-size: 120%;
    text-decoration: none;
    font-weight: bold;
}

.nav-color:hover {
    color:black !important;
    background-color:#F8C24B !important;
}

footer {
    background-color: rgba(243, 121, 122, 255);
}