/*FUENTE*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Federo&family=Quicksand:wght@300&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

/*COLORES ESTANDAR*/
.colorAmarillo {
  background-color: #f8c24b !important;
}

.colorAmarillo:hover {
  background-color: #ebb644 !important;
}

.colorRosa {
  background-color: rgba(243, 121, 122, 255);
}

/* BARRA DE NAVEGACIÓN */
.header {
  background-color: #ffffcc;
  text-align: center;
}

a img {
  width: 30%;
}

.colorNav {
  background-color: #ffccff;
}
.nav-item {
  color: black;
}
.logo {
  width: 100px;
}

.name {
  width: 15%;
}

/* para que el formulario del cuadro de búsqueda se adapte a las pantallas */
@media screen and (min-width: 481px) and (max-width: 3000px) {
  .searchAling {
    position: absolute;
    right: 2%;
  }
}

/* PÁGINA INICIO */
