/*FUENTE*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Federo&family=Quicksand:wght@300&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

/*COLORES ESTANDAR*/

.colorAmarillo {
  background-color: #f8c24b !important;
}

.colorAmarillo:hover {
  background-color: #ebb644 !important;
}

.colorRosa {
  background-color: #f6c6c3;
}
.colorVerde {
  background-color: rgba(114, 183, 161, 255);
}
.colorAzul {
  background-color: rgba(123, 206, 209, 255);
}

.h100 {
  height: 100%;
  min-height: 100vh;
}

/* BARRA DE NAVEGACIÓN */

.logo {
  width: 50px;
}

.name {
  /*para redimensionar la imagen del header*/
  width: 20%;
}

/* para que el formulario del cuadro de búsqueda se adapte a las pantallas */
@media screen and (min-width: 481px) and (max-width: 3000px) {
  .searchAling {
    position: absolute;
    right: 2%;
  }
}
/* MÓVILES --> dispositivos con anchura igual o inferior a 480 */
@media screen and (max-width: 481px) {
  .name {
    /*para redimensionar la imagen del header*/
    width: 25%;
  }
}
@media screen and (min-width: 811px) and (max-width: 1400px) {
  .name {
    /*para redimensionar la imagen del header*/
    width: 15%;
  }
}

/* PÁGINA INICIO */

/*Para que en pantallas medianas y grandes el carrousel ocupe el 60% en lugar del 100% que ocupa en móvil*/
@media screen and (min-width: 481px) and (max-width: 3000px) {
  #carouselExampleIndicators {
    width: 60%;
    text-align: center;
  }
}


/* NEW RECIPE */

.imagenNewRecipe{
  width: 2%;
}

.footerNewRecipe{
  position: relative!important;
}

@media (max-width:880px){
  .imagenNewRecipe{
    display: none;
  }
}

@media (max-width: 1912px){
  .divImagen{
    display: none;
  }
}
